version: "3.8"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      
      # Internal communication inside docker network
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      
      # Define listener mapping
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      # Make Kafka work without any issues
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

    restart: unless-stopped
  registryserver:
    build: ./RegistreyServer/serverregister
    container_name: registryserver
    ports:
      - "8761:8761"
    networks:
      - spring-net

  userauthenticate:
    build: ./UerAuthenticateService/users
    container_name: userauthenticate
    depends_on:
      - registryserver
    ports:
      - "9095:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

  storyservice:
    build: ./StoryService/storyservice
    container_name: storyservice
    depends_on:
      - registryserver
      - userauthenticate
    ports:
      - "9090:8082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

  postservice:
    build: ./PostService/postservice
    container_name: postservice
    depends_on:
      - registryserver
    ports:
      - "9098:8083"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

  likecommentservice:
    build: ./LikeAndCommentService/likecomment
    container_name: likecommentservice
    depends_on:
      - registryserver
      - postservice
    ports:
      - "9099:8084"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

  messanger:
    build: ./Messanger/message
    container_name: messanger
    depends_on:
      - registryserver
    ports:
      - "9097:8085"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

  apigateway:
    build: ./ApigatewayService/apigateway
    container_name: apigateway
    depends_on:
      - registryserver
      - userauthenticate
      - storyservice
      - postservice
      - likecommentservice
      - messanger
    ports:
      - "9096:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://registryserver:8761/eureka/
    networks:
      - spring-net

networks:
  spring-net:
    driver: bridge
